:root{

  /* COLORS */
  --blue-dark:#080712;
  --aquamarine: #19d18e;
  --ice-white: #e4f0eb;
  --gray: #a0a3a2;

  /* FONTS */
  --title-font: 3rem;
  --normal-font: 1.01rem;
  --medium-font: 2rem;
  --font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body{
  background-color: var(--blue-dark);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

section{
  display: flex;
  flex-direction: column;
}

#welcome h1{
  position: absolute;
  top: 0;
  left: 0;

  margin-left: 2rem;
  margin-top: 2rem;

  color: var(--ice-white);
  font-size: var(--title-font);
}

#welcome h1 span{
  color: var(--aquamarine);
}

#welcome .button{
  margin: .75rem;
  padding: 1.15rem 5rem;
  border-radius: .95px 4.55px .95px 4.55px;
  font-size: var(--normal-font);
  font-weight: 600;
  background-color: var(--aquamarine);

  cursor: pointer;
  transition: filter .7s;
}

#welcome .button:hover{
  filter: brightness(1.5);
}
